<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LPCalendar.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EEE1C55920A57B10002E76DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EEE1C57120A57B12002E76DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EEE1C57C20A57B12002E76DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
